body {
  background-color: rgb(11, 0, 20);
  color: aliceblue;
}
header {
  display: flex;
  background-color: #000000;
  border-radius: 20px;
  width: 90%;
  margin: auto;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}
main {
  border-radius: 20px;
  width: 80%;
  margin: auto;
  padding: 5px;
}
main img {
  width: 8rem;
  height: 8rem;
  border-radius: 20%;
  margin: 10px;
  padding: 10px;
  border: 3px solid #ffffff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

main img:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.producto {
  background-color: #2c2c2c;
  margin: 20px;
  border-radius: 10px;
  border: solid 2px #ffffff;
}

table {
  width: 100%;
}
table td {
  width: 33%;
}

footer {
  width: 100%;
  background-color: #000000;
  color: aliceblue;
  text-align: center;
  padding: 10px;
}

footer a {
  text-decoration: none;
  color: aliceblue;
}
footer img {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  margin-right: 20px;
}

.foto {
  width: 10rem;
  height: 9rem;
  border-radius: 200px;
}

.titulo {
  color: aliceblue;
  font-size: 2rem;
  text-align: right;
}

.descripcion {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: medium;
  font-style: italic;
  text-align: justify;
}

.valor {
  font-size: larger;
  font-weight: bold;
}

.tdValor {
  text-align: right;
  padding-right: 20px;
}

/* Responsive */
@media (width<=768px) {
  main {
    width: 100%;
  }
  main img {
    width: 5rem;
    height: 5rem;
  }
  .foto {
    width: 5rem;
    height: 5rem;
  }
  .titulo {
    font-size: 1.5rem;
  }
  .descripcion {
    font-size: small;
  }
  .valor {
    font-size: small;
  }
  .tdValor {
    text-align: right;
    padding-right: 10px;
  }
}
